/* Navbar section */

.navbar-dark{

    background:rgb(60, 60, 70);

   

}



/* Here we define some styles that will ONLY be applied at screen sizes below certain pixels */

@media (max-width: 900px) {

    .navbar-dark{

        background: rgb(0, 0, 0);

    }



    .navbar-toggler{

        background: rgb(92, 90, 90);

    }



    h1 { font-family: sans-serif; font-size: 45px; padding-bottom: 10px; font-style: normal; font-variant: normal; font-weight: 700; color:#777 line-height: 58.5px; } h3 { font-family: sans-serif; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 33px; } 
p { font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
blockquote { font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

    #bottom_visual_page{

        position:relative;

        bottom:-1000px;

        left: 0;

    }



    /* comparisons_pg figure captions */

    figcaption.caption {

        right:1000px;

        font-size: 24px;

        color:blue;

        font-weight: bold;

    }

}





/* End navbar section */



h1.intro{

    position:absolute;

    top: 10%;

    text-align: center;

}



#intro {

    position:absolute;

    top: 20%;

    text-align: center;

}



/* header (first row) under nav bar */

#header {

    position:absolute;

    top: 20%;

    text-align: right;

}



p.description {

    position:relative;

    top: 5%;

    text-align: left;

    font-size: 18px;

    margin: 10%;

}



/* comparisons_pg figure captions */

figcaption.caption {

    text-align: center;

    font-size: 24px;

    color:blue;

    font-weight: bold;

}

/* intro note in comparisons_pg */

#comp_note{

    left:10%;

}



/* in Data_pg??? May be unnecessary. */

#CityData {

    position:absolute;

    top: 20%;

    left:25%;

}



/* bottom header (visualization section) */

#bot_header{

    position:absolute;

    top: 20%;

    left:26%;

    text-align: right;

}



#bottom_visual {

    position:absolute;

    bottom: -150;

    right: 10%;

}



#bottom_visual_page{

    position:relative;

    width: 100%;

    bottom: 5px;

}



#bottom_space_data_pg{

    position: relative;

    width: 100%;

    bottom: 5px;

    background:rgb(255, 255, 255);

}

#container {
    height: 1100px; 
    min-width: 100px; 
    max-width: 500px;
    margin: 0 auto;
}

.chartWithMarkerOverlay {
    position: relative;
    width: 700px;
}
.overlay-text {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50px;   /* chartArea top  */
    left: 200px; /* chartArea left */
}
.overlay-marker {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -100px;   /* chartArea top */
    left: -528px; /* chartArea left */
}

/* CSS for Fading Animated Carousel */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display:none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}